<div class="row p-2 mb-4 justify-content-between">

    <div class="col-sm-12 border rounded p-3 mt-4">
      <h2 class="mb-0"><%= @room.title %></h2>
    </div>


    <div class="col-sm-8 mt-4 ml-0 p-0">
      <ul class="list_unstyled pl-0 mb-0">
        <% @comments.each do |comment| %>
          <li class="media border">
            <div class="media-body p-3">
              <div>
                <% if comment.user.image.file == nil %>
                  <img class="rounded-circle" src="<%= gravatar_url(comment.user, { size: 30 }) %>" alt="">
                <% else %>
                  <%= image_tag comment.user.image.to_s, size: '30x30', class: 'rounded-circle' %>
                <% end %>
                <%= link_to comment.user.name, user_path(comment.user.id), class:'ml-2' %>
              </div>
     
              <div class="mt-2">
                <%= comment.content %>
              </div>
              <div>
                <% if comment.image.file != nil %>
                  <%= image_tag comment.image.to_s, size: '200x200' %>
                <% end %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
      <%= paginate @comments %>
    </div>

  <div class="col-sm-3 mt-4 p-0 d-sm-flex align-items-end">
  <%= form_with(model: @comment, local: true) do |f| %>
    <div class="form-group">
      <%= f.text_area :content, class: 'form-control'%>
    </div>
    <div class="form-group">
      <%= f.file_field :image, class: 'form-control' %>
    </div>
    <%= hidden_field_tag :room_id, @room.id %>
    <div class="text-center">
      <%= f.submit '投稿する', class: 'btn btn-success' %>
    </div>
  <% end %>
  </div>
  
</div>
